/* for making point-box */

.big-letter{
    font-size: 150%;
    font-weight: 2;
}
.sub-para{
    color: rgb(75, 74, 74);
}
.feature-header{
    /* color: rgb(75, 74, 74); */
    text-align: justify;
}
@media (max-width: 500px)
{
.bg-image-1{
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -1;
}
#header{
    width: 100%;
    height: 600px;
    z-index: 1;
    color: white;
}
.logo-image{
    width: 20%;
    height: 60px;
    opacity: 0.7;
}
.navbar-brand{
    font-weight: bold;
    position: relative;
    right: 60px;   
}
/* .nav-item{
    font-weight: bold;
} */
.download-btn{
    position: relative;
    top: 260px;
    border-radius: 1rem;
    background-color: blueviolet;
    color: white;
}
#points-box{
    padding: 5% 5%;
    width: 90%;
    height: auto;
    /* border: 2px solid red; */
    margin: 0 0 1rem auto;
    position: relative;
    bottom: 200px;
    background-color: #e9e9e9;
    z-index: 2;
    border: 1px solid black;
}
.bg-image-2{
    width: 100%;
    height: 950px;
    position: absolute;
    z-index: -1;
}

#pricing{
    width: 100%;
    height: 950px;
    /* background-color: antiquewhite; */
    margin: 3rem auto;
    padding: 2rem 0;
}
.box{
    width: 100%;
    height: auto;
    padding: auto;
    margin: auto;
    text-align: justify;
}
.video{
    width: 100%;
    height: 100%;
}
#image-section{
    width: 100%;
    height: 500px;
    bottom: 200px;
}
.image-1{
    width: 100%;
    height:100%;
    position: relative;
    z-index: -1;
}
.pricing-box{
    background-color: black;
    width: 80%;
    margin: 1.5rem auto;
    height: 250px;
    border-radius: 10%;
    padding: 1rem;
    text-align: justify;
}
#unknown-section{
    height: 600px;
    padding: 5% 5%;
}
.bg-image-3{
    height: 600px;
    width: 100%;
    position: absolute;
    z-index: -1;
}
#footer{
    height: 600px;
    width: 100%;
    /* background-color: antiquewhite; */
}
.icons{
    color: cyan;
    margin-bottom: 0.5rem;
}
.icons:hover{
    color: white;
}
.footer-box{
    margin-top: 2rem;
    text-align: center;
}
.footer-para{
    color: white;
}
}
@media(min-width: 501px)
{
    body{
        font-size: 1.5rem;
    }
    .bg-image-1{
        width: 100%;
        height: 1100px;
        position: absolute;
        z-index: -1;
    }
    #header{
        width: 100%;
        height: 600px;
        z-index: 1;
        color: white;
    }
    .logo-image{
        width: 20%;
        height: 150px;
        opacity: 0.5;
    }
    .navbar-brand{
        font-size: 2.5rem;
        font-weight: bold;  
        position: relative;
        right: 23%;
        color: black;
    }
    /* .nav-item{
        font-weight: bold;
    } */
    .download-btn{
        position: relative;
        top: 370px;
        width: 300px;
        font-size: 1.5rem;
        border-radius: 1rem;
        background-color: blueviolet;
        color: white;
    }
    #points-box{
        padding: 5% 5%;
        width: 90%;
        height: auto;
        /* border: 2px solid red; */
        margin: auto;
        position: relative;
        bottom: 50px;
        background-color: #e9e9e9;
        font-family: 'Verdana', sans-serif;
        }

    .box{
        width: 100%;
        height: auto;
        padding: auto;
        margin: auto;
        text-align: justify;

    }
    #image-section{
        width: 100%;
        height: 200px;
        position: relative;
    }
    .image-1{
        width: 100%;
        height:400px;
    }
    .bg-image-2{
        width: 100%;
        height: 1200px;
        position: absolute;
        z-index: -1;
    }
    #pricing{
        width: 100%;
        height: 1000px;
        /* background-color: antiquewhite; */
        margin: 3rem auto;
        padding: 2rem 0;
    }
    .pricing-box{
        background-color: black;
        width: 60%;
        margin: 1.5rem auto;
        height: 350px;
        border-radius: 10%;
    }
    #unknown-section{
        height: 800px;
        padding: 5% 5%;
    }
    .bg-image-3{
        height: 900px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    #footer{
        height: 900px;
        width: 100%;
        /* background-color: antiquewhite; */
        margin: auto;
    }
    .icons{
        color: cyan;
        margin-bottom: 0.5rem;
    }
    .icons:hover{
        color: white;
    }
    .footer-box{
        margin-top: 2rem;
        text-align: center;
    }
    .footer-para{
        color: white;
    }
}